{% extends "base.html" %}
{% load custom_tags_filters %}

{% block title %} Home {% endblock %}

{% block content %}
  {% include "blog/navbar.html" %}
  <div id="content" class="float-start mt-4" style="width: 47rem;">
    <img src="{{ post.image.url }}" class="img-thumbnail" width="100%">
		<br><br>
    <a href="{% url 'blog:update_post' post.id %}">Update post</a><br>
		{% include "blog/modal.html" with post=post %}
		<a href="">{{ post.category }}</a><br>
		<h2>{{ post.title }}</h2>
		<p>
			by <span><i>{{ post.author }}</i></span>&emsp14;&emsp14;
			<span>{{ post.date_published}}</span>
		</p>
		{% if request.user.is_authenticated %}
			<button id="like-dislike-btn" class="btn btn-danger" data-post_slug="{{ post.slug }}">
				{% if post|already_liked:request.user %}
					Dislike | <i class="fas fa-heart-broken"></i>
				{% else %}
					Like | <i class="fas fa-heart"></i>
				{% endif %}
			</button>
		{% endif %}	
		<span class="p-2"><span id="total-likes">{{ total_likes }}</span> Like{{ total_likes|pluralize }}</span>
		<br>
		<h4 class="mt-3">Summary:</h4>
		<p class="lead" style="font-size: 16px;">{{ post.summary }}</p>
		<hr>
		
		<p>
			{% for content in post.contents.all %}
				<h2 class="p-2" id="content-{{content.order|add:1}}"># {{ content.content_object.title }}</h2>
				{% if content.content_object.text %}
					{{ content.content_object.text|markdown|safe }}
				{% else %}
					<img class="img-thumbnail" src="{{ content.content_object.image.url }}">
				{% endif %}
			{% endfor %}	
		</p>

		<div id="comment-section" class="mt-5">

			<h3>{{ post.comments.count }} Comments</h3>
			<hr>
			<div class="comment-form">
				<form method="POST" action="" novalidate>
					{% csrf_token %}
					<div>
						<div class="row">
							<div class="col-md-1">
								<img class="rounded-circle" src="{{ request.user.image.url }}" width="110%">
							</div>
							<div class="col-md-10">
								{{ form.content }}
							</div>
						</div>
        			</div>
					<input type="submit" class="btn btn-sm btn-primary mt-3" value="add comment">
				</form>	
			</div>	
			<hr>
			<div id="comments">
				{% for comment in post.comments.all %}
					<div class="d-flex flex-column comment-section p-4" style="background-color: #F0F0F0;">
						<div class="bg-white p-2">
						<div class="d-flex flex-row user-info p-3">
							<img class="rounded-circle" src="{{ comment.author.image.url }}" width="80">
							<div class="d-flex flex-column justify-content-start p-3">
								<span class="d-block font-weight-bold name">{{ comment.author }}</span>
								<span class="date text-black-50">Shared publicly - {{ comment.date_created }}</span>
							</div>
						</div>
						<div class="mt-2" style="width: 31rem; margin-left: 3.5%;">
							{{ comment.content|markdown }}
						</div>

						{% if request.user.is_authenticated %}
							<button class="btn btn-sm {% if comment|already_liked:request.user %} btn-danger {% else %} btn-outline-danger {% endif %}" id="comment-like-dislike-btn" data-comment_id={{comment.id}}> 
								{% if comment|already_liked:request.user %}
									<span id="comment-{{comment.id}}-likes">
										{{ comment.likes.count }} 
										<i class="fas fa-heart-broken"></i>
									</span>
								{% else %}
								 	<span id="comment-{{comment.id}}-likes">
								 		{{ comment.likes.count }}
										<i class="fas fa-heart"></i>
									</span>
								{% endif %}
							</button>
						{% endif %}

						{% if comment.author == request.user %}
							<a href="{{ comment.get_delete_url }}" class="btn btn-sm btn-danger float-end" style="margin-left: 30px;">
								<i class="fas fa-trash"></i>
							</a>
						{% endif %}
						</div>
					</div>	
				{% empty %}
					<p style="margin-top:30px; text-align: center; font-size: 28px; color: rgb(179, 174, 174);">
						<i class="far fa-comments"></i> There are no comments on the post.
					</p>
				{% endfor %}
			</div>
		</div>
  </div>

  <div id="sidebar" class="float-end">
		<ul class="list-group p-3" style="width: 18rem;">
			<li class="list-group-item"><strong style="font-size: 26px; border-bottom: 2px solid black;">Categories</strong></li>
			{% for category in categories %}
				<li class="list-group-item" style="font-size: 18px;">
					<a href="{{ category.get_absolute_url }}">{{ category.title }}</a>
				</li>
			{% endfor %}
		</ul>

		<ul class="list-group p-3" style="width: 18rem;">
			<li class="list-group-item"><strong style="font-size: 26px; border-bottom: 2px solid black;">Popular tags</strong></li>
			<div class="p-3 border">
				{% for tag in tags %}
					<a href="{% url 'blog:list_by_tag' tag.slug %}" class="btn btn-sm btn-outline-secondary mb-2">{{ tag.name }}</a>
				{% endfor %}
			</div>
		</ul>

		<ul class="list-group p-3" style="width: 18rem;">
			<li class="list-group-item"><strong style="font-size: 26px; border-bottom: 2px solid black;">Table of Contents</strong></li>
			<div class="p-3 border">
				{% for content in post.contents.all %}
					<li class="list-group-item">
						<a href="#content-{{ content.order|add:1 }}">{{ content.content_object.title }}</a>
					</li>
				{% endfor%}
			</div>
		</ul>

  </div>
{% endblock %}

{% block javascript %}
  <script>
    var simpleMDEForComment = new SimpleMDE({
        element: document.querySelector('#id_content'),
        showIcons: ['code', 'table'],
    });

		document.querySelector('#like-dislike-btn').addEventListener('click', likeOrDislikePost);
		function likeOrDislikePost() {
			const post_slug = this.dataset.post_slug;
			$.ajax({
				url: `/blog/post/${post_slug}/like/`,
				success: function (response) {
					const action = response['action'];

					if(action == 'liked') {
						// 1 - increment likes
						let likes = parseInt(document.querySelector('span #total-likes').textContent);
						likes++;
						document.querySelector('span #total-likes').textContent = likes;
						
						// 2 - change button icon to dislike
						document.querySelector('#like-dislike-btn').innerHTML = 'Dislike | <i class="fas fa-heart-broken"></i>';

					} else if(action == 'disliked') {
						// 1 - decrement likes
						let likes = parseInt(document.querySelector('span #total-likes').textContent);
						likes--;
						document.querySelector('span #total-likes').textContent = likes;
						
						// 2 - change button icon to like
						document.querySelector('#like-dislike-btn').innerHTML = 'Like | <i class="fas fa-heart"></i>';
					}
				},
				error: function (response) {	
					console.log('something went wrong');
				}
			});
		}

		document.querySelectorAll('#comment-like-dislike-btn').forEach((button) => button.addEventListener('click', likeOrDislikeComment));
		function likeOrDislikeComment(e) {
			const comment_id = this.dataset.comment_id;

			$.ajax({
				url: `/blog/comment/${comment_id}/like/`,
				success: function(response) {
					const action = response['action'];
					let likes = parseInt(document.querySelector(`span#comment-${comment_id}-likes`).textContent);
					
					if (action == 'liked') {
						likes++;
						document.querySelector(`#comment-${comment_id}-likes`).innerHTML = `
							${likes} 
							<i class="fas fa-heart-broken"></i>
						`;

					} else if (action == 'disliked') {
						likes--;
						document.querySelector(`#comment-${comment_id}-likes`).innerHTML = `
							${likes} 
							<i class="fas fa-heart"></i>
						`;
					}
				},
				error: function(response) {
					console.log('something went wrong');
				}
			});
		}
  </script>
{% endblock %}